<!DOCTYPE html>
<html class="scroll-active">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= yield :title %></title>

    <link rel="icon" href="<%= yield :favicon %>" type="image/png"/>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="scroll-active">
    <%= react_component('Navbar') %>
    <div class="hidden-div"></div>
    <!-- The above div is here to fix the page flow disruption caused
    by the absolute positioned navbar -->
    <main>
      <%= yield %>
    </main>
  </body>
</html>
